body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: white;
  background-color: #36393f;
  background: linear-gradient(#36393f, #40444b);
  background-attachment: fixed;
  background-size: cover;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: lightgray;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(#ffa631, #ffc831);
}

.headertxt {
  color: white;
  text-align: center;
  font-size: 70px;
  font-weight: 800;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pfp {
  border-radius: 50%;
  width: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #23272a;
  color: white;
  text-align: center;
  font-size: 17px;
}
